<% layout('layouts/boilerplate') -%>

<div class="row mt-3"> 
    <div class="col-8 offset-2">
        <h2>SignUp Page for User</h2>
        <form action="/signup" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label needs-validation" novalidate>Username</label>
                <input type="text" class="form-control" name="username" id="username" required>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label needs-validation" novalidate>Email</label>
                <input type="text" class="form-control" name="email" id="email" required>
                <div class="invalid-feedback">Email should be valid</div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label needs-validation" novalidate>Password</label>
                <input type="text" class="form-control" name="password" id="password" required>
                <div class="invalid-feedback">Password should be valid</div>
            </div>

            <button class="btn btn-success mt-3">SignUp</button>
        </form>
    </div>
</div>